<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Fasterbids - Dashboard</title>
		<link rel="stylesheet" href="css/style.css" media="all" type="text/css">
		<style>

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .bar {
          fill: steelblue;
        }

        .x.axis path {
          display: none;
        }

        .salesperson text {
          fill: black;
          font: 10px sans-serif;
          text-anchor: end;
        }
    </style>
	</head>
	<body data-ng-app="app">
	  <main data-ng-controller="appController" data-ng-init="">
			<header>
				<nav id="navbar" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">
								<img src="images/logo.png" alt="Fasterbids logo" />
							</a>
						</div>
						<ul class="nav navbar-nav">
							<li data-ui-sref="overview"><a href="#/overview">Company Overview</a></li>
							<li data-ui-sref="customer"><a href="#/customer">Customer Overview</a></li>
              <li data-ui-sref="salespeople"><a href="#/salespeople">Salespeople</a></li>
						</ul>
					</div>
				</nav>
			</header>

			<div class="container">
				<!-- side panel -->
				<div class="row">
					<div id="dashboard-side-panel" class="col-lg-3">

						<!-- dropdown menu filters -->
						<!-- TODO: build these dynamically from data using ng-option -->
            <p>Date Range</p>
            <select>
              <option>An option</option>
              <option>Another option</option>
            </select>
            <p>Salesmen</p>
            <!-- -->
            <p>selected item is : {{selectedSalesmen}}</p>
            <p> age of selected item is : {{selectedSalesmen.Value}} </p>
            <!-- -->
            <select ng-model="selectedSalesmen" ng-options="salesman.Name for salesman in salesmenDropDown">
            </select>
            <p>Customer</p>
            <!-- -->
            <p>selected item is : {{selectedCustomer}}</p>
            <p> age of selected item is : {{selectedCustomer.Value}} </p>
            <!-- -->
            <select ng-model="selectedCustomer" ng-options="customer.Name for customer in customersDropDown">
            </select>
            <p>Product type</p>
            <!-- -->
      	    <p>selected item is : {{selectedProductType}}</p>
            <p> age of selected item is : {{selectedProductType.Value}} </p>
            <!-- -->
            <select ng-model="selectedProductType" ng-options="productType.Name for productType in productTypesDropDown">
            </select>
            <p>Distributor</p>
            <!-- -->
            <p>selected item is : {{selectedDistributor}}</p>
            <p> age of selected item is : {{selectedDistributor.Value}} </p>
            <!-- -->
            <select ng-model="selectedDistributor" ng-options="distributor.Name for distributor in distributorsDropDown">
            </select>
					</div>

					<section data-ui-view class="col-lg-9"></section>
				</div>
				<div class="row">
					<quotes-table ng-show="currentView === 'customer'"></quotes-table>
				</div>
			</div>
	  </main>
		<script src="js/bundle.min.js" type="text/javascript"></script>
	</body>
</html>
