/* D3 chart axis styles */
.axis {
	path, line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  text {
		font-size: 0.8em;
	}
}

/* Quotes table styles */
.quotes-table {
	float: none;
  margin-left: auto;
  margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	th {
		font-weight: bold;
	}
	td, th {
		padding: 8px;
		font-size: 1.4em;
	}
	.border-cell {
		border-right: 2px solid black;
	}
}